## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from datetime import datetime
from django.conf import settings
import pytz
from cms.djangoapps.contentstore.config.waffle import waffle, ENABLE_ACCESSIBILITY_POLICY_PAGE
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper-footer wrapper">
    <footer class="primary" role="contentinfo">

        <div class="footer-content-primary">
            <div class="colophon">
                <p></p>
            </div>

            <nav class="nav-peripheral" aria-label="${_(" Policies")}">
                <ol>
                    <li class="nav-item">
                        <a data-rel="edx.org" id="lms-link" href="${settings.LMS_ROOT_URL}">${_("LMS")}</a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="footer-content-secondary" aria-label="${_(" Legal")}">
            <div class="footer-about-copyright">
                <p></p>
            </div>

            <div class="footer-about-openedx">
                <a href="http://open.edx.org" title="${_(" Powered by ConcpetX")}">
                    <img alt="${_(" Powered by ConcpetX")}"
                        src="https://development-conceptx-assets.sgp1.cdn.digitaloceanspaces.com/poweredConcpetX.png">
                </a>
            </div>
        </div>
    </footer>
</div>